body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  left: 0px;
  overflow-y: scroll;
  overflow-x: scroll;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body {
  width: 90%;
  margin: auto;
}

.topbar a {
  margin-right: .5em;
}

.content {
  position: relative;
  margin-left: 180px;
}

.content img {
  display: block;
  margin: auto;
}

.do_control {
  font: 18px Helvetica Neue;
}
.sidebar {
  position: absolute;
  left: -200px;
  width: 160px;
}

.gallery {
  position: relative;
  left: 0px;
}

.knobs {
  position: relative;
  left: 0px;
}
.content .gallery a:hover img {
  border-color: steelblue;
}

.content .knobs a:hover img {
  border-color: steelblue;
}
.list {
  clear: left;
  margin-top: 14px;
}

.list img {
  float: left;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: .3em;
}

.sidebar {
  color: #666;
}
.sidebar .selected {
  color: #222;
}

.sidebar ul {
  padding-left: 0;
  list-style-type: none;
}

.sidebar li {
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 18px Helvetica Neue;
}

.foot {
  position: relative;
  font-weight: 300;
  margin-left: 40px;
  padding-top: 3em;
/*  clear: left; */
}

input[type=button] {
  font: 20px Helvetica Neue;
  color: #333; 
  padding: 4px 6px 4px 6px;
  border: 0;
  border-bottom: 1px solid #222;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #999;
}

input[type=button]:hover {
  background-color: #555;
}

.highlight {
  font: 12px monospace;
}

.highlight pre {
  overflow-x: auto;
}

.invisible {
    display: none
}

label {
  font: 18px Helvetica Neue;
  margin-bottom: 22px;
}

.log {
    height: 300px;
    overflow: scroll;
}

.edge text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  fill: black;
}

rect {
#  fill: #fff;
}

.node rect {
  stroke-width: 2px;
  stroke: #333;
}

#node-CLOSED rect {
  fill: #f77;
}

#node-ESTAB rect {
  fill: #7f7;
}

.edge rect {
  fill: #fff;
}

.edge path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.edge .group text {
    font-size: 24px;
}

.edge .default text {
    font-weight: bold;
}

.edge .invert text {
    font-size: 32px;
    fill: red;
}

.edge .filter text {
    font-size: 16px;
    font-style: italic;
}

.edge .scale text {
    font-size: 16px;
}

.edge .contract text {
    font-size: 16px;
    fill: blue;
}

.stat rect {
    width: 40px;
    height: 20px;
}
.stat text {
    font-size: 22px;
    fill: green;
}

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

div #chart {
    width: 920px;
    height: 900px;
    position: relative;
    left: 0px;
}

#timestamp {
    height: 40px;
}

.info {
    width: 120px;
    height: 60px;
}

.latest {
    display: block;
    height: 30%;
    width: 100%;
} 

.verticalBarGraph {
    height: 60%;
    width: 50%;
    float: right;
    position: relative;
    display: block;
    margin-right: 10px;
}
	
.verticalBar {
	border: 1px solid #555;
	bottom: 0;
	list-style:none;
	padding: 0;
	position: absolute;
	text-align: center;
        background-color: green;
	height: 25%;
	width: 100px;
	display: inline-block;
	}

fieldset {
    display: inline-block;
    
}

#chart {
    overflow-y: auto;
}